*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Layout generale*/

.side-left{
    border: 1px solid blue;
}

.side-right{
    border: 1px solid red;
}

.side-left, .side-right {
    width: 100%;
    /*Altezza provvisoria*/
    height: 100vh;
}

/*Easy usefull*/

.inlineB{
    display: inline-block;
}

.small-gray-text{
    font-size: 13px;
    color: rgb(156, 156, 156);
}

.line-height{
    line-height: 18px;
    padding-top: 4px;
    padding-left: 4px;
}

.profile-wrapper{
    width: 15%;
}

/*header user*/

.header-user{
    width: 100%;
    height: 60px;
    background-color: rgb(219, 219, 219);
    padding: 8px 10px;
}

.user-profile, .function-in-header-user{
    width: 50%;
}

.user-profile img{
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.function-in-header-user i{
    padding-right: 8px;
    font-size: 1.2rem;
    color: rgb(143, 143, 143);
}

/*---*/