*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General implementation*/

body{
    font-size: 14px;
}

i:hover{
    opacity: 0.6;
    cursor: pointer;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
  }

.fl{
    float: left;
}

.fr{
    float: right;
}


/*Layout generale*/

.side-left{
    border-right: 1px solid rgba(136, 136, 136, 0.76);
    border-left: 1px solid rgba(136, 136, 136, 0.76);
}

.side-left, .side-right {
    width: 100%;
    /*Altezza provvisoria*/
    height: 100vh;
}

/*Easy usefull*/

.underline{
    text-decoration: underline;
}

.underline:hover{
    cursor: pointer;
}

.inlineB{
    display: inline-block;
}

.small-gray-text{
    font-size: 13px;
    color: rgb(156, 156, 156);
}

.line-height{
    line-height: 18px;
    padding-top: 4px;
    padding-left: 8px;
}

.profile-wrapper{
    width: 15%;
}

/*header user*/

.header-user{
    width: 100%;
    height: 60px;
    background-color: rgb(236, 236, 236);
    padding: 8px 10px;
}

.user-profile, .function-in-header-user{
    width: 50%;
}

.user-profile img{
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.function-in-header-user i{
    padding-right: 8px;
    font-size: 1.2rem;
    color: rgb(143, 143, 143);
}

/*Notifications section*/

.notifications{
    width: 100%;
    height: 70px;
    background-color: rgb(0, 217, 255);
    padding: 8px 10px;
}

.notifications img{
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.bell-icon{
    width: 55px;
    height: 55px;
    background-color: white;
    border-radius: 50%;
    position: relative;
}

div.bell-icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.2rem;
    color: rgb(0, 217, 255);
}

/*Search bar*/

.search-bar{
    width: 100%;
    height: 40px;
    background-color: rgb(236, 236, 236);
    padding: 4px
}

.search-button{
    width: 20%;
    background-color: white;
}

button.search-button{
    width: 20%;
}

button.search-button i{
    color: rgba(180, 180, 180, 0.671);
}

.write-research{
    width: 80%;
}

.write-research input, button.search-button{
    height: 100%;
    padding: 5px 0;
    border: 1px solid rgba(180, 180, 180, 0.671);  
}

.write-research input{
    width: 100%;
}

/*Messages section*/

section.messages{
    width: 100%;
    height: calc(100% - 60px);
    background-size: contain;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
    padding: 50px 40px 0 50px;
} 

.message{
    width: 40%;
    height: 60px;
    border-radius: 10px;
    margin: 10px;
}

.sent{
    background-color: beige;
}

.recived{
    background-color: rgb(10, 233, 10);
    right: 50px;
    position: relative;
    left: 55%;
}

/*Contacts section*/

.my_contacts{
    height: calc(100% - 170px);
    width: 100%;
    overflow-y: scroll;
}

.contact-container{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgb(139, 139, 139);
    padding: 10px;
    position: relative;
}

.img__contact-container{
    width: 50px;
    height: 50px;
}

.img__contact-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    vertical-align: revert;
}

.last-connection{
    position: absolute;
    top: 0;
    right: 0;
}